* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    padding: 0;
    margin: 0;
    font-family: Prata, serif;
    font-size: 35px;
    line-height: 42px;
}

h2,
h3 {
    font-family: Prata, serif;
    font-size: 14px;
    line-height: 24px;
    color: #CA6D18;
}

h2 {
    padding-bottom: 10px;
}

h3 {
    color: #222;

}

.wrapper {
    max-width: 600px;
    margin: 0 auto;
}

.header {
    min-height: 200px;
    padding: 30px;
    background: url(../images/background.png) center no-repeat;

    .header_container {
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: Prata, serif;
        font-size: 10px;
        line-height: 20px;
        color: #222;

        .photo {
            height: 104px;
            width: 104px;
            border-radius: 100%;
            background: url(../images/img.png) center no-repeat;
        }

        .info {
            margin-right: 20px;
        }

        .contacts {

            .contact_item {
                display: flex;
                justify-content: start;
                align-items: center;

                .contact_icon {
                    padding: 0 8px;
                    height: 14px;
                    width: 14px;
                }
            }

            .email {

                .mail_icon {
                    background: url(../icons/Mail_black.png) center no-repeat;
                }
            }

            .in {

                .in_icon {
                    background: url(../icons/LinkedIN_black.png) center no-repeat;
                }
            }

            .github {

                .github_icon {
                    background: url(../icons/github.png) center no-repeat;
                }
            }

            .phone {

                .phone_icon {
                    background: url(../icons/Combined_Shape.png) center no-repeat;
                }
            }
        }
    }
}

.about_me {

    .about_me_container {
        padding: 20px;
        display: flex;
        justify-content: space-between;

        .experience {
            padding-right: 32px;
            max-width: 250px;

            .working_term {
                padding-bottom: 16px;
                font-family: Prata, serif;
                font-size: 11px;
                line-height: 16px;
                color: #797979;
            }

            .obligations {
                padding-bottom: 16px;
                font-family: Poppins, sans-serif;
                font-size: 10px;
                line-height: 14px;
                color: #222;
            }
        }

        .education_about_container {
            max-width: 250px;

            .prof {
                font-size: 12px;
                line-height: 20px;
                color: #222;
            }

            .edu_inst_trem {
                padding-bottom: 10px;
                font-family: Prata, serif;
                font-size: 11px;
                line-height: 16px;
                color: #797979;
            }

            .about_me_descr {
                padding-bottom: 10px;
                font-family: Poppins, sans-serif;
                font-size: 10px;
                line-height: 14px;
                color: #222;
            }

            .projects_container {

                .project_items_container {

                    .project_item {
                        font-size: 11px;
                        line-height: 16px;
                    }
                }
            }
        }
    }
}

.skills {

    .skills_container {
        padding: 20px;

        .skills_descr_container {
            display: flex;
            justify-content: space-between;

            .block {
                font-family: Poppins, sans-serif;
                font-size: 10px;
                line-height: 14px;
                color: #222;
            }
        }
    }
}